* {
  font-size: 60%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  
}

main {
  height: 100vh;
  padding: 3rem;
  background-color: #333;
  display: flex;
  align-items: center;
  flex-direction: column;
}

h1 {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 3rem;
  color: #fff;
  text-align: center;
}

canvas {
  width: 100%;
  height: 100%;
}

button {
  margin: 1rem 0;
  display: block;
  width: 100%;
  background-color: transparent;
  color: white;
  border-color: white;
  border-radius: 0.3rem;
  font-size: 2rem;
  padding: 1rem;
}

.menu,
.program {
  display: none;
}

main.m .menu,
main.p .program {
  display: block;
}

.program {
  width: 100%;
  height: 100%;
}

.close-program {
  width: 2.5rem;
  height: 2.5rem;
  padding: 0;
  line-height: 0.5rem;
  font-size: 1.5rem;
  position: absolute;
  left: 0.25rem;
  top: 0.25rem;
}
